img {
    width: 190px;
}

h3 {
    font-size: 20px;
    font-family: 'Tahoma';
}

div {
    background-color: #f5f5f5;
    padding: 50px;
    margin: auto;
    text-align: center;
    border: auto;
}

h2 {
    font-size: 24px;
    font-family: 'Tahoma';
}

div p {
    text-align: center;
    line-height: 28px;
    width: 930px;
    margin: auto;
    font-family: 'Tahoma';
}

div a {
    background-color: green;
    font-size: 14px;
    font-style: bold;
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

div h1 {
    font-family: 'Tahoma';
}